{
  "openapi": "3.1.0",
  "info": {
    "title": "Tesa Cloud API",
    "description": "API access to the Tesa Cloud Digital Platform including patient information, surgery details, and patient-reported outcome survey data.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tesacloud.com"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": [],
      "ApiSecretHeader": []
    }
  ],
  "paths": {
    "/createpatientprofile": {
      "post": {
        "description": "Creates a new patient profile",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPatientProfile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patient profile created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchmypatients": {
      "post": {
        "description": "Fetches a paginated list of patients associated with the authenticated organization's API key.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchpatientprofile": {
      "post": {
        "description": "Fetches the profile of a single patient by their Tesa Cloud patient ID.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "patient_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "patient_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patient profile successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchlocations": {
      "post": {
        "description": "Fetches a list of locations associated with the authenticated organization's API key.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchproceduretemplates": {
      "post": {
        "description": "Fetches a list of surgical procedure templates associated with the authenticated organization's API key.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of procedure templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProcedureTemplate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchappointments": {
      "post": {
        "description": "Fetches a paginated list of appointments within a date range for the authenticated organization.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchAppointmentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of appointments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchorganisations": {
      "post": {
        "description": "Fetches organisation details for the authenticated organization's API key.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of organisations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Organisation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/createappointment": {
      "post": {
        "description": "Creates a new appointment for a patient.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppointmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appointment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NewPatientProfile": {
        "type": "object",
        "properties": {
          "first_name_initial": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "year_of_birth": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "ehr_id": {
            "type": "string"
          },
          "ethnicity": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "mobile_phone": {
            "type": "string"
          },
          "preferred_contact_method": {
            "type": "string"
          },
          "preferred_language": {
            "type": "string"
          }
        },
        "required": [
          "first_name_initial",
          "last_name",
          "year_of_birth",
          "gender",
          "ehr_id",
          "ethnicity",
          "email",
          "mobile_phone",
          "preferred_contact_method",
          "preferred_language"
        ]
      },
      "Patient": {
        "type": "object",
        "properties": {
          "person_id": {
            "type": "integer"
          },
          "patient_id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "surname": {
            "type": "string"
          },
          "year_of_birth": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "ethnicity": {
            "type": "string"
          },
          "ehr_id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        },
        "required": [
          "person_id",
          "patient_id",
          "first_name",
          "surname",
          "year_of_birth",
          "gender",
          "ethnicity",
          "ehr_id",
          "email"
        ]
      },
      "PatientListResponse": {
        "type": "object",
        "properties": {
          "total_count": {
            "type": "integer"
          },
          "patients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Patient"
            }
          }
        },
        "required": [
          "total_count",
          "patients"
        ]
      },
      "PatientProfile": {
        "type": "object",
        "properties": {
          "patient_id": {
            "type": "integer"
          },
          "person_id": {
            "type": "integer"
          },
          "ehr_id": {
            "type": "string"
          },
          "first_name_initial": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "year_of_birth": {
            "type": "integer"
          },
          "gender": {
            "type": "string"
          },
          "ethnicity": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "mobile_phone": {
            "type": "string"
          },
          "preferred_language": {
            "type": "string"
          }
        },
        "required": [
          "patient_id",
          "person_id",
          "ehr_id",
          "first_name_initial",
          "last_name",
          "year_of_birth",
          "gender",
          "ethnicity",
          "email",
          "mobile_phone",
          "preferred_language"
        ]
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "building_name": {
            "type": "string"
          },
          "room_identifier": {
            "type": "string"
          },
          "street_number": {
            "type": "string"
          },
          "street_name": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "description",
          "building_name",
          "room_identifier",
          "street_number",
          "street_name",
          "city",
          "state",
          "postcode",
          "country"
        ]
      },
      "ProcedureTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "ligament": {
            "type": "string"
          },
          "procedure_type": {
            "type": "string"
          },
          "graft_type": {
            "type": "string"
          },
          "graft_origin": {
            "type": "string"
          },
          "femur_fixation": {
            "type": "string"
          },
          "tibia_fixation": {
            "type": "string"
          },
          "augment_type": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "title",
          "ligament",
          "procedure_type",
          "graft_type",
          "graft_origin",
          "femur_fixation",
          "tibia_fixation",
          "augment_type"
        ]
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "FetchAppointmentsRequest": {
        "type": "object",
        "properties": {
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Start date for the date range filter (ISO 8601 format)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "End date for the date range filter (ISO 8601 format)"
          },
          "page": {
            "type": "integer",
            "default": 1,
            "description": "Page number for pagination"
          },
          "page_size": {
            "type": "integer",
            "default": 25,
            "description": "Number of results per page"
          }
        },
        "required": [
          "start_date",
          "end_date"
        ]
      },
      "Appointment": {
        "type": "object",
        "properties": {
          "appointment_id": {
            "type": "integer",
            "description": "Unique appointment identifier"
          },
          "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled appointment date and time"
          },
          "location_description": {
            "type": "string",
            "description": "Description of the location"
          },
          "location_id": {
            "type": "integer",
            "description": "Location identifier"
          },
          "surgeon_name": {
            "type": "string",
            "description": "Full name of the surgeon"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "in progress", "complete", "cancelled"],
            "description": "Appointment status"
          },
          "procedure_description": {
            "type": "string",
            "description": "Description of the procedure(s)"
          },
          "organisation_name": {
            "type": "string",
            "description": "Name of the organisation"
          },
          "patient_first_name": {
            "type": "string",
            "description": "Patient's first name or initial"
          },
          "patient_surname": {
            "type": "string",
            "description": "Patient's surname"
          },
          "patient_ehr_id": {
            "type": "string",
            "description": "Patient's EHR ID"
          },
          "patient_id": {
            "type": "integer",
            "description": "Patient identifier"
          }
        }
      },
      "AppointmentListResponse": {
        "type": "object",
        "properties": {
          "appointments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Appointment"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of appointments matching the filter"
          },
          "page": {
            "type": "integer",
            "description": "Current page number"
          },
          "page_size": {
            "type": "integer",
            "description": "Number of results per page"
          }
        },
        "required": [
          "appointments",
          "total",
          "page",
          "page_size"
        ]
      },
      "Organisation": {
        "type": "object",
        "properties": {
          "org_id": {
            "type": "integer",
            "description": "Organisation identifier"
          },
          "business_name": {
            "type": "string",
            "description": "Business name of the organisation"
          },
          "opening_hours": {
            "type": "string",
            "description": "Opening hours description"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Contact email address"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number"
          }
        },
        "required": [
          "org_id",
          "business_name"
        ]
      },
      "CreateAppointmentRequest": {
        "type": "object",
        "properties": {
          "patient_id": {
            "type": "integer",
            "description": "Patient identifier"
          },
          "location_id": {
            "type": "integer",
            "description": "Location identifier"
          },
          "organisation_id": {
            "type": "integer",
            "description": "Organisation identifier (optional, defaults to API key's organisation)"
          },
          "provider_id": {
            "type": "integer",
            "description": "Provider/surgeon identifier (optional)"
          },
          "notes": {
            "type": "string",
            "description": "Additional notes for the appointment"
          },
          "procedure_template_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "List of procedure template IDs"
          },
          "scheduled_date": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled date and time (ISO 8601 format)"
          }
        },
        "required": [
          "patient_id",
          "location_id",
          "scheduled_date"
        ]
      },
      "AppointmentResponse": {
        "type": "object",
        "properties": {
          "appointment_id": {
            "type": "integer",
            "description": "Created appointment identifier"
          },
          "patient_id": {
            "type": "integer",
            "description": "Patient identifier"
          },
          "location_id": {
            "type": "integer",
            "description": "Location identifier"
          },
          "organisation_id": {
            "type": "integer",
            "description": "Organisation identifier"
          },
          "provider_id": {
            "type": "integer",
            "description": "Provider/surgeon identifier"
          },
          "procedure_template_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "List of procedure template IDs"
          },
          "scheduled_date": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled date and time"
          },
          "notes": {
            "type": "string",
            "description": "Appointment notes"
          },
          "status": {
            "type": "string",
            "description": "Appointment status"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the appointment was created"
          }
        },
        "required": [
          "appointment_id",
          "patient_id",
          "location_id",
          "organisation_id",
          "scheduled_date",
          "status",
          "created_at"
        ]
      }
    },
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "ApiSecretHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-secret"
      }
    }
  }
}