{
  "openapi": "3.1.0",
  "info": {
    "title": "Tesa Cloud API",
    "description": "API access to the Tesa Cloud Digital Platform including patient information, surgery details, and patient-reported outcome survey data.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tesacloud.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/createPatientProfile": {
      "post": {
        "description": "Creates a new patient profile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPatientProfile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patient profile created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "Unique ID of the created patient"
                    }
                  },
                  "required": ["id"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NewPatientProfile": {
        "type": "object",
        "properties": {
          "first_name_initial": {
            "type": "string",
            "maxLength": 1,
            "description": "The first initial of the patient's first name"
          },
          "last_name": {
            "type": "string",
            "description": "The patient's last name"
          },
          "year_of_birth": {
            "type": "string",
            "pattern": "^(19|20)\\d{2}$",
            "description": "Four-digit year of birth (must be <= current year and not older than 120 years)"
          },
          "gender": {
            "type": "string",
            "enum": ["Male", "Female", "Other"]
          },
          "ehr_id": {
            "type": "string",
            "description": "The patient's EHR ID"
          },
          "ethnicity": {
            "type": "string",
            "enum": [
              "African", "Asian", "East Asian", "European", "Hispanic/Latino",
              "Middle Eastern", "Native/Indigenous", "Pacific Islander",
              "South Asian", "Mixed/Other"
            ]
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "mobile_phone": {
            "type": "string",
            "description": "Mobile phone number"
          },
          "preferred_contact_method": {
            "type": "string",
            "enum": ["email", "sms"]
          },
          "preferred_language": {
            "type": "string",
            "enum": ["en", "es", "fr", "pt", "ar", "zh", "hi"]
          }
        },
        "required": [
          "first_name_initial",
          "last_name",
          "year_of_birth",
          "gender",
          "ehr_id",
          "ethnicity",
          "email",
          "mobile_phone",
          "preferred_contact_method",
          "preferred_language"
        ]
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Description of the error"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
