{
  "openapi": "3.1.0",
  "info": {
    "title": "Tesa Cloud API",
    "description": "API access to the Tesa Cloud Digital Platform including patient information, surgery details, and patient-reported outcome survey data.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tesacloud.com"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": [],
      "ApiSecretHeader": []
    }
  ],
  "paths": {
    "/createpatientprofile": {
      "post": {
        "description": "Creates a new patient profile",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPatientProfile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patient profile created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchmypatients": {
      "post": {
        "description": "Fetches a paginated list of patients associated with the authenticated organization's API key.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchpatientprofile": {
      "post": {
        "description": "Fetches the profile of a single patient by their Tesa Cloud patient ID.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "patient_id": {
                    "type": "integer"
                  }
                },
                "required": [
                  "patient_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patient profile successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchlocations": {
      "post": {
        "description": "Fetches a list of locations associated with the authenticated organization's API key.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of locations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Location"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchproceduretemplates": {
      "post": {
        "description": "Fetches a list of surgical procedure templates associated with the authenticated organization's API key.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of procedure templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProcedureTemplate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchappointments": {
      "post": {
        "description": "Fetches a paginated list of appointments within a date range for the authenticated organization.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchAppointmentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of appointments",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchorganisations": {
      "post": {
        "description": "Fetches organisation details for the authenticated organization's API key.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of organisations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Organisation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/createappointment": {
      "post": {
        "description": "Creates a new appointment for a patient.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppointmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appointment created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/recordtourniquettime": {
      "post": {
        "description": "Records tourniquet time for a procedure. Provide either start_time and end_time, or minutes directly.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordTourniquetTimeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tourniquet time recorded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TourniquetTimeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchappointmentnotes": {
      "post": {
        "description": "Fetches active, unhidden notes for an appointment.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of appointment notes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppointmentNote"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchprocedures": {
      "post": {
        "description": "Fetches procedures for an appointment.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of procedures",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProcedureSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchproceduredetails": {
      "post": {
        "description": "Fetches detailed procedure information by procedure ID and appointment ID.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcedureAppointmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Procedure details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcedureDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/setproceduredetails": {
      "post": {
        "description": "Updates procedure details for a specific procedure.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetProcedureDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Procedure details updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetProcedureDetailsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/createappointmentnote": {
      "post": {
        "description": "Creates a new note for an appointment.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAppointmentNoteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Note created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppointmentNoteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchpostopreport": {
      "post": {
        "description": "Fetches the post-op report PDF URL for an appointment.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Post-op report information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostopReportResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchsurveyresponses": {
      "post": {
        "description": "Fetches survey responses for an appointment.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AppointmentIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of survey responses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SurveyResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/createpatientobservation": {
      "post": {
        "description": "Creates a new patient observation record with height, weight, and other clinical measurements.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePatientObservationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patient observation created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientObservation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchpatientobservations": {
      "post": {
        "description": "Fetches all observation records for a patient.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatientIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of patient observations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PatientObservation"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NewPatientProfile": {
        "type": "object",
        "properties": {
          "first_name_initial": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "year_of_birth": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "ehr_id": {
            "type": "string"
          },
          "ethnicity": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "mobile_phone": {
            "type": "string"
          },
          "preferred_contact_method": {
            "type": "string"
          },
          "preferred_language": {
            "type": "string"
          }
        },
        "required": [
          "first_name_initial",
          "last_name",
          "year_of_birth",
          "gender",
          "ehr_id",
          "ethnicity",
          "email",
          "mobile_phone",
          "preferred_contact_method",
          "preferred_language"
        ]
      },
      "Patient": {
        "type": "object",
        "properties": {
          "person_id": {
            "type": "integer"
          },
          "patient_id": {
            "type": "integer"
          },
          "first_name": {
            "type": "string"
          },
          "surname": {
            "type": "string"
          },
          "year_of_birth": {
            "type": "string"
          },
          "gender": {
            "type": "string"
          },
          "ethnicity": {
            "type": "string"
          },
          "ehr_id": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        },
        "required": [
          "person_id",
          "patient_id",
          "first_name",
          "surname",
          "year_of_birth",
          "gender",
          "ethnicity",
          "ehr_id",
          "email"
        ]
      },
      "PatientListResponse": {
        "type": "object",
        "properties": {
          "total_count": {
            "type": "integer"
          },
          "patients": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Patient"
            }
          }
        },
        "required": [
          "total_count",
          "patients"
        ]
      },
      "PatientProfile": {
        "type": "object",
        "properties": {
          "patient_id": {
            "type": "integer"
          },
          "person_id": {
            "type": "integer"
          },
          "ehr_id": {
            "type": "string"
          },
          "first_name_initial": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "year_of_birth": {
            "type": "integer"
          },
          "gender": {
            "type": "string"
          },
          "ethnicity": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "mobile_phone": {
            "type": "string"
          },
          "preferred_language": {
            "type": "string"
          }
        },
        "required": [
          "patient_id",
          "person_id",
          "ehr_id",
          "first_name_initial",
          "last_name",
          "year_of_birth",
          "gender",
          "ethnicity",
          "email",
          "mobile_phone",
          "preferred_language"
        ]
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "building_name": {
            "type": "string"
          },
          "room_identifier": {
            "type": "string"
          },
          "street_number": {
            "type": "string"
          },
          "street_name": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "description",
          "building_name",
          "room_identifier",
          "street_number",
          "street_name",
          "city",
          "state",
          "postcode",
          "country"
        ]
      },
      "ProcedureTemplate": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "ligament": {
            "type": "string"
          },
          "procedure_type": {
            "type": "string"
          },
          "graft_type": {
            "type": "string"
          },
          "graft_origin": {
            "type": "string"
          },
          "femur_fixation": {
            "type": "string"
          },
          "tibia_fixation": {
            "type": "string"
          },
          "augment_type": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "title",
          "ligament",
          "procedure_type",
          "graft_type",
          "graft_origin",
          "femur_fixation",
          "tibia_fixation",
          "augment_type"
        ]
      },
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "FetchAppointmentsRequest": {
        "type": "object",
        "properties": {
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Start date for the date range filter (ISO 8601 format)"
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "End date for the date range filter (ISO 8601 format)"
          },
          "page": {
            "type": "integer",
            "default": 1,
            "description": "Page number for pagination"
          },
          "page_size": {
            "type": "integer",
            "default": 25,
            "description": "Number of results per page"
          }
        },
        "required": [
          "start_date",
          "end_date"
        ]
      },
      "Appointment": {
        "type": "object",
        "properties": {
          "appointment_id": {
            "type": "integer",
            "description": "Unique appointment identifier"
          },
          "datetime": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled appointment date and time"
          },
          "location_description": {
            "type": "string",
            "description": "Description of the location"
          },
          "location_id": {
            "type": "integer",
            "description": "Location identifier"
          },
          "surgeon_name": {
            "type": "string",
            "description": "Full name of the surgeon"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "in progress", "complete", "cancelled"],
            "description": "Appointment status"
          },
          "procedure_description": {
            "type": "string",
            "description": "Description of the procedure(s)"
          },
          "organisation_name": {
            "type": "string",
            "description": "Name of the organisation"
          },
          "patient_first_name": {
            "type": "string",
            "description": "Patient's first name or initial"
          },
          "patient_surname": {
            "type": "string",
            "description": "Patient's surname"
          },
          "patient_ehr_id": {
            "type": "string",
            "description": "Patient's EHR ID"
          },
          "patient_id": {
            "type": "integer",
            "description": "Patient identifier"
          }
        }
      },
      "AppointmentListResponse": {
        "type": "object",
        "properties": {
          "appointments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Appointment"
            }
          },
          "total": {
            "type": "integer",
            "description": "Total number of appointments matching the filter"
          },
          "page": {
            "type": "integer",
            "description": "Current page number"
          },
          "page_size": {
            "type": "integer",
            "description": "Number of results per page"
          }
        },
        "required": [
          "appointments",
          "total",
          "page",
          "page_size"
        ]
      },
      "Organisation": {
        "type": "object",
        "properties": {
          "org_id": {
            "type": "integer",
            "description": "Organisation identifier"
          },
          "business_name": {
            "type": "string",
            "description": "Business name of the organisation"
          },
          "opening_hours": {
            "type": "string",
            "description": "Opening hours description"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Contact email address"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number"
          }
        },
        "required": [
          "org_id",
          "business_name"
        ]
      },
      "CreateAppointmentRequest": {
        "type": "object",
        "properties": {
          "patient_id": {
            "type": "integer",
            "description": "Patient identifier"
          },
          "location_id": {
            "type": "integer",
            "description": "Location identifier"
          },
          "organisation_id": {
            "type": "integer",
            "description": "Organisation identifier (optional, defaults to API key's organisation)"
          },
          "provider_id": {
            "type": "integer",
            "description": "Provider/surgeon identifier (optional)"
          },
          "notes": {
            "type": "string",
            "description": "Additional notes for the appointment"
          },
          "procedure_template_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "List of procedure template IDs"
          },
          "scheduled_date": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled date and time (ISO 8601 format)"
          }
        },
        "required": [
          "patient_id",
          "location_id",
          "scheduled_date"
        ]
      },
      "AppointmentResponse": {
        "type": "object",
        "properties": {
          "appointment_id": {
            "type": "integer",
            "description": "Created appointment identifier"
          },
          "patient_id": {
            "type": "integer",
            "description": "Patient identifier"
          },
          "location_id": {
            "type": "integer",
            "description": "Location identifier"
          },
          "organisation_id": {
            "type": "integer",
            "description": "Organisation identifier"
          },
          "provider_id": {
            "type": "integer",
            "description": "Provider/surgeon identifier"
          },
          "procedure_template_ids": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "List of procedure template IDs"
          },
          "scheduled_date": {
            "type": "string",
            "format": "date-time",
            "description": "Scheduled date and time"
          },
          "notes": {
            "type": "string",
            "description": "Appointment notes"
          },
          "status": {
            "type": "string",
            "description": "Appointment status"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the appointment was created"
          }
        },
        "required": [
          "appointment_id",
          "patient_id",
          "location_id",
          "organisation_id",
          "scheduled_date",
          "status",
          "created_at"
        ]
      },
      "RecordTourniquetTimeRequest": {
        "type": "object",
        "properties": {
          "appointment_id": {
            "type": "integer",
            "description": "Appointment identifier"
          },
          "procedure_id": {
            "type": "integer",
            "description": "Procedure identifier"
          },
          "start_time": {
            "type": "string",
            "format": "date-time",
            "description": "Tourniquet start time (ISO 8601)"
          },
          "end_time": {
            "type": "string",
            "format": "date-time",
            "description": "Tourniquet end time (ISO 8601)"
          },
          "minutes": {
            "type": "integer",
            "description": "Tourniquet time in minutes (alternative to start/end times)"
          }
        },
        "required": ["appointment_id", "procedure_id"]
      },
      "TourniquetTimeResponse": {
        "type": "object",
        "properties": {
          "procedure_id": {
            "type": "integer"
          },
          "appointment_id": {
            "type": "integer"
          },
          "tourniquet_minutes": {
            "type": "integer",
            "description": "Recorded tourniquet time in minutes"
          }
        }
      },
      "AppointmentIdRequest": {
        "type": "object",
        "properties": {
          "appointment_id": {
            "type": "integer",
            "description": "Appointment identifier"
          }
        },
        "required": ["appointment_id"]
      },
      "AppointmentNote": {
        "type": "object",
        "properties": {
          "note": {
            "type": "string",
            "description": "Note text content"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "When the note was recorded"
          }
        }
      },
      "ProcedureSummary": {
        "type": "object",
        "properties": {
          "procedure_id": {
            "type": "integer",
            "description": "Procedure identifier"
          },
          "title": {
            "type": "string",
            "description": "Procedure title"
          }
        }
      },
      "ProcedureAppointmentRequest": {
        "type": "object",
        "properties": {
          "procedure_id": {
            "type": "integer",
            "description": "Procedure identifier"
          },
          "appointment_id": {
            "type": "integer",
            "description": "Appointment identifier"
          }
        },
        "required": ["procedure_id", "appointment_id"]
      },
      "ProcedureDetails": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "ligament": { "type": "string" },
          "procedure_type": { "type": "string" },
          "graft_type": { "type": "string" },
          "graft_origin": { "type": "string" },
          "hamstring_type": { "type": "string" },
          "quad_type": { "type": "string" },
          "btb_type": { "type": "string" },
          "graft_length": { "type": "number" },
          "graft_diameter": { "type": "number" },
          "pre_tension_force": { "type": "number" },
          "pre_tension_duration": { "type": "number" },
          "femur_drilling_technique": { "type": "string" },
          "femur_socket_size": { "type": "number" },
          "femur_fixation": { "type": "string" },
          "tibia_drilling_technique": { "type": "string" },
          "tibia_socket_size": { "type": "number" },
          "tibia_fixation": { "type": "string" },
          "tibia_backup_fixation": { "type": "string" },
          "augment_type": { "type": "string" },
          "augment_femoral_fixation": { "type": "string" },
          "augment_tibial_fixation": { "type": "string" },
          "tourniquet_time": { "type": "string" },
          "active": { "type": "boolean" }
        }
      },
      "ProcedureDetailsResponse": {
        "type": "object",
        "properties": {
          "procedure_id": { "type": "integer" },
          "appointment_id": { "type": "integer" },
          "start_time": { "type": "string", "format": "date-time" },
          "end_time": { "type": "string", "format": "date-time" },
          "fixated_tension_graft": { "type": "number" },
          "fixated_tension_brace": { "type": "number" },
          "femoral_tunnel_position": { "type": "string" },
          "femoral_tunnel_angle": { "type": "string" },
          "no_of_tensioners": { "type": "integer" },
          "kit_id": { "type": "integer" },
          "details": {
            "$ref": "#/components/schemas/ProcedureDetails"
          }
        }
      },
      "SetProcedureDetailsRequest": {
        "type": "object",
        "properties": {
          "procedure_id": { "type": "integer", "description": "Procedure identifier" },
          "appointment_id": { "type": "integer", "description": "Appointment identifier" },
          "title": { "type": "string" },
          "ligament": { "type": "string" },
          "procedure_type": { "type": "string" },
          "graft_type": { "type": "string" },
          "graft_origin": { "type": "string" },
          "hamstring_type": { "type": "string" },
          "quad_type": { "type": "string" },
          "btb_type": { "type": "string" },
          "graft_length": { "type": "number" },
          "graft_diameter": { "type": "number" },
          "pre_tension_force": { "type": "number" },
          "pre_tension_duration": { "type": "number" },
          "femur_drilling_technique": { "type": "string" },
          "femur_socket_size": { "type": "number" },
          "femur_fixation": { "type": "string" },
          "tibia_drilling_technique": { "type": "string" },
          "tibia_socket_size": { "type": "number" },
          "tibia_fixation": { "type": "string" },
          "tibia_backup_fixation": { "type": "string" },
          "augment_type": { "type": "string" },
          "augment_femoral_fixation": { "type": "string" },
          "augment_tibial_fixation": { "type": "string" },
          "tourniquet_time": { "type": "string" }
        },
        "required": ["procedure_id", "appointment_id"]
      },
      "SetProcedureDetailsResponse": {
        "type": "object",
        "properties": {
          "procedure_id": { "type": "integer" },
          "appointment_id": { "type": "integer" },
          "updated": { "type": "boolean" },
          "details": {
            "$ref": "#/components/schemas/ProcedureDetails"
          }
        }
      },
      "CreateAppointmentNoteRequest": {
        "type": "object",
        "properties": {
          "appointment_id": {
            "type": "integer",
            "description": "Appointment identifier"
          },
          "note": {
            "type": "string",
            "description": "Note text content"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Note timestamp (defaults to current time)"
          }
        },
        "required": ["appointment_id", "note"]
      },
      "AppointmentNoteResponse": {
        "type": "object",
        "properties": {
          "id": { "type": "integer", "description": "Note identifier" },
          "appointment_id": { "type": "integer" },
          "note": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "PostopReportResponse": {
        "type": "object",
        "properties": {
          "appointment_id": { "type": "integer" },
          "report_id": { "type": "integer", "description": "Report record identifier" },
          "report_url": {
            "type": "string",
            "description": "URL to the PDF report (may be GCS path requiring signing)"
          },
          "status": {
            "type": "string",
            "enum": ["generated", "not_generated", "pending"],
            "description": "Report generation status"
          },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "SurveyResponse": {
        "type": "object",
        "properties": {
          "submission_date": {
            "type": "string",
            "format": "date-time",
            "description": "When the survey response was submitted"
          },
          "question_text": {
            "type": "string",
            "description": "The survey question text"
          },
          "response_text": {
            "type": "string",
            "description": "Free-text response (if applicable)"
          },
          "response_value": {
            "type": "integer",
            "description": "Numeric response value"
          },
          "days_since_appointment": {
            "type": "integer",
            "description": "Number of days between appointment and survey submission"
          }
        }
      },
      "PatientIdRequest": {
        "type": "object",
        "properties": {
          "patient_id": {
            "type": "integer",
            "description": "Patient identifier"
          }
        },
        "required": ["patient_id"]
      },
      "CreatePatientObservationRequest": {
        "type": "object",
        "properties": {
          "patient_id": {
            "type": "integer",
            "description": "Patient identifier"
          },
          "associated_appointment_id": {
            "type": "integer",
            "description": "Optional appointment identifier to link observation"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Observation timestamp (defaults to current time)"
          },
          "height": {
            "type": "string",
            "description": "Patient height value"
          },
          "weight": {
            "type": "string",
            "description": "Patient weight value"
          },
          "height_units": {
            "type": "string",
            "description": "Height units (e.g., cm, in)"
          },
          "weight_units": {
            "type": "string",
            "description": "Weight units (e.g., kg, lbs)"
          },
          "notes": {
            "type": "string",
            "description": "Clinical notes"
          },
          "attributes": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Additional attribute strings"
          },
          "pre_op": {
            "type": "boolean",
            "description": "Whether this is a pre-operative observation"
          },
          "injured_ligaments": {
            "type": "array",
            "items": { "type": "string" },
            "description": "List of injured ligaments (e.g., ACL, MCL, PCL, LCL)"
          },
          "injury_date": {
            "type": "string",
            "format": "date-time",
            "description": "Date of injury/onset"
          },
          "sane": {
            "type": "integer",
            "description": "SANE score (Single Assessment Numeric Evaluation, 0-100)"
          },
          "xray": {
            "type": "boolean",
            "description": "X-ray scan included"
          },
          "mri": {
            "type": "boolean",
            "description": "MRI scan included"
          },
          "ct": {
            "type": "boolean",
            "description": "CT scan included"
          },
          "ultrasound": {
            "type": "boolean",
            "description": "Ultrasound scan included"
          },
          "scan_outcome": {
            "type": "string",
            "description": "Overall scan outcome/findings"
          },
          "test_lachmans": {
            "type": "string",
            "description": "Lachman's test result"
          },
          "test_pivot_shift": {
            "type": "string",
            "description": "Pivot shift test result"
          },
          "test_anterior_drawer": {
            "type": "string",
            "description": "Anterior drawer test result"
          },
          "test_posterior_drawer": {
            "type": "string",
            "description": "Posterior drawer test result"
          },
          "test_varus": {
            "type": "string",
            "description": "Varus stress test result"
          },
          "test_valgus": {
            "type": "string",
            "description": "Valgus stress test result"
          },
          "test_posterior_sag": {
            "type": "string",
            "description": "Posterior sag sign test result"
          },
          "test_quad_active": {
            "type": "string",
            "description": "Quadriceps active test result"
          },
          "test_mcmurrays": {
            "type": "string",
            "description": "McMurray's test result"
          },
          "test_patellar_apprehension": {
            "type": "string",
            "description": "Patellar apprehension test result"
          }
        },
        "required": ["patient_id"]
      },
      "PatientObservation": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Observation identifier"
          },
          "patient_id": {
            "type": "integer",
            "description": "Patient identifier"
          },
          "associated_appointment_id": {
            "type": "integer",
            "description": "Linked appointment identifier (if any)"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "When the observation was recorded"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Record creation timestamp"
          },
          "height": {
            "type": "string",
            "description": "Patient height value"
          },
          "weight": {
            "type": "string",
            "description": "Patient weight value"
          },
          "height_units": {
            "type": "string",
            "description": "Height units"
          },
          "weight_units": {
            "type": "string",
            "description": "Weight units"
          },
          "notes": {
            "type": "string",
            "description": "Clinical notes"
          },
          "attributes": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Additional attribute strings"
          },
          "pre_op": {
            "type": "boolean",
            "description": "Whether this is a pre-operative observation"
          },
          "injured_ligaments": {
            "type": "array",
            "items": { "type": "string" },
            "description": "List of injured ligaments"
          },
          "injury_date": {
            "type": "string",
            "format": "date-time",
            "description": "Date of injury/onset"
          },
          "sane": {
            "type": "integer",
            "description": "SANE score (0-100)"
          },
          "xray": {
            "type": "boolean",
            "description": "X-ray scan included"
          },
          "mri": {
            "type": "boolean",
            "description": "MRI scan included"
          },
          "ct": {
            "type": "boolean",
            "description": "CT scan included"
          },
          "ultrasound": {
            "type": "boolean",
            "description": "Ultrasound scan included"
          },
          "scan_outcome": {
            "type": "string",
            "description": "Overall scan outcome/findings"
          },
          "test_lachmans": {
            "type": "string",
            "description": "Lachman's test result"
          },
          "test_pivot_shift": {
            "type": "string",
            "description": "Pivot shift test result"
          },
          "test_anterior_drawer": {
            "type": "string",
            "description": "Anterior drawer test result"
          },
          "test_posterior_drawer": {
            "type": "string",
            "description": "Posterior drawer test result"
          },
          "test_varus": {
            "type": "string",
            "description": "Varus stress test result"
          },
          "test_valgus": {
            "type": "string",
            "description": "Valgus stress test result"
          },
          "test_posterior_sag": {
            "type": "string",
            "description": "Posterior sag sign test result"
          },
          "test_quad_active": {
            "type": "string",
            "description": "Quadriceps active test result"
          },
          "test_mcmurrays": {
            "type": "string",
            "description": "McMurray's test result"
          },
          "test_patellar_apprehension": {
            "type": "string",
            "description": "Patellar apprehension test result"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "ApiSecretHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-secret"
      }
    }
  }
}