{
  "openapi": "3.1.0",
  "info": {
    "title": "Tesa Cloud API",
    "description": "API access to the Tesa Cloud Digital Platform including patient information, surgery details, and patient-reported outcome survey data.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tesacloud.com"
    }
  ],
  "security": [
    {
      "ApiKeyHeader": [],
      "ApiSecretHeader": []
    }
  ],
  "paths": {
    "/createpatientprofile": {
      "post": {
        "description": "Creates a new patient profile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPatientProfile"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patient profile created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    }
                  },
                  "required": ["id"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchmypatients": {
      "post": {
        "description": "Fetches a paginated list of patients associated with the authenticated organization's API key.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of patients",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or unauthorized access",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/fetchpatientprofile": {
      "post": {
        "description": "Fetches the profile of a single patient by their Tesa Cloud patient ID.",
        "security": [
          {
            "ApiKeyHeader": [],
            "ApiSecretHeader": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "patient_id": {
                    "type": "integer",
                    "description": "The internal Tesa Cloud patient ID."
                  }
                },
                "required": ["patient_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patient profile successfully retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatientProfile"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or unauthorized access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "NewPatientProfile": {
        "type": "object",
        "properties": {
          "first_name_initial": { "type": "string", "maxLength": 1 },
          "last_name": { "type": "string" },
          "year_of_birth": { "type": "string", "pattern": "^(19|20)\\d{2}$" },
          "gender": { "type": "string", "enum": ["Male", "Female", "Other"] },
          "ehr_id": { "type": "string" },
          "ethnicity": {
            "type": "string",
            "enum": [
              "African", "Asian", "East Asian", "European", "Hispanic/Latino",
              "Middle Eastern", "Native/Indigenous", "Pacific Islander",
              "South Asian", "Mixed/Other"
            ]
          },
          "email": { "type": "string", "format": "email" },
          "mobile_phone": { "type": "string" },
          "preferred_contact_method": { "type": "string", "enum": ["email", "sms"] },
          "preferred_language": {
            "type": "string",
            "enum": ["en", "es", "fr", "pt", "ar", "zh", "hi"]
          }
        },
        "required": [
          "first_name_initial",
          "last_name",
          "year_of_birth",
          "gender",
          "ehr_id",
          "ethnicity",
          "email",
          "mobile_phone",
          "preferred_contact_method",
          "preferred_language"
        ]
      },
      "Patient": {
        "type": "object",
        "properties": {
          "person_id": { "type": "integer" },
          "patient_id": { "type": "integer" },
          "first_name": { "type": "string" },
          "surname": { "type": "string" },
          "year_of_birth": { "type": "string" },
          "gender": { "type": "string" },
          "ethnicity": { "type": "string" },
          "ehr_id": { "type": "string" },
          "email": { "type": "string", "format": "email" }
        },
        "required": [
          "person_id", "patient_id", "first_name", "surname", "year_of_birth",
          "gender", "ethnicity", "ehr_id", "email"
        ]
      },
      "PatientListResponse": {
        "type": "object",
        "properties": {
          "total_count": { "type": "integer" },
          "patients": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Patient" }
          }
        },
        "required": ["total_count", "patients"]
      },
      "PatientProfile": {
        "type": "object",
        "properties": {
          "patient_id": { "type": "integer" },
          "person_id": { "type": "integer" },
          "ehr_id": { "type": "string" },
          "first_name_initial": { "type": "string" },
          "last_name": { "type": "string" },
          "year_of_birth": { "type": "integer" },
          "gender": { "type": "string", "enum": ["Male", "Female", "Other"] },
          "ethnicity": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "mobile_phone": { "type": "string" },
          "preferred_language": {
            "type": "string",
            "enum": ["en", "es", "fr", "pt", "ar", "zh", "hi"]
          }
        },
        "required": [
          "patient_id", "person_id", "ehr_id", "first_name_initial", "last_name",
          "year_of_birth", "gender", "ethnicity", "email", "mobile_phone", "preferred_language"
        ]
      },
      "Error": {
        "type": "object",
        "required": ["error"],
        "properties": {
          "error": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Your Tesa Cloud API Key (organization-scoped)."
      },
      "ApiSecretHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-secret",
        "description": "Your secret API token. Keep this secure and never expose it in client apps."
      }
    }
  }
}
